body {
  font-family: "Work Sans", sans-serif;
  background: #f3f3f3;
  scroll-behavior: smooth;
  min-width: 400px;
}

ul,
li {
  list-style: none;
}

a {
  color: inherit;
}

.cardactive {
  color: #3295ff;
}

.hide {
  opacity: 0;
  height: 0;
}

.show {
  display: none;
}

input::placeholder {
  font-size: 18px;
  font-weight: 600;
}

.animation {
  transform: rotate(180deg);
}

.sidebar {
  display: block !important;
  position: absolute;
  z-index: 10;
}

.moveimg {
  left: 240px !important;
}

input[type="radio"].form-check-input:checked {
  color: #fff;
  border: none;
  background-color: #072654;
}

input[type="checkbox"].form-check-input:checked {
  color: #fff;
  border: none;
  background-color: #072654;
}

.box-style {
  border: 1px dashed #3295ff;
  border-radius: 10px;
  width: 190px;
  height: 125px;
  position: relative;
}

.box-pinstyle {
  position: absolute;
  right: 15px;
  cursor: pointer;
  padding: 15px;
}

.imagewidth {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.cardactivebottom {
  display: none;
  background: #3295ff;
  width: 189px;
  height: 8px;
  left: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

#firstdiv {
  z-index: 15;
}

.sidebarstyle {
  cursor: pointer;
  border-radius: 99px;
  top: 80px;
  left: -10px;
  padding: 10px;
  width: 40px;
  height: 40px;
  z-index: 15;
}

.form-select {
  min-width: 220px;
}

#overlay_div {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 12;
  cursor: pointer;
}

.box:hover {
  border: 1px dashed #3295ff;
  border-bottom: none;
}

.box:hover,
#sidebarnavitem {
  cursor: pointer;
}

.box:hover svg path,
#sidebarnavitem:hover svg path {
  fill: #3295ff;
}

.box:hover .cardactivebottom {
  display: block;
  color: #3295ff !important;
}

.box:hover p,
#sidebarnavitem:hover p {
  color: #3295ff !important;
}

.sidebarselected {
  background: #3295ff !important;
  color: #fff;
}

.sidebarselected svg path {
  fill: #fff;
}

@media (max-width: 878px) {
  #firstdiv {
    display: none;
    width: 264px;
  }
  #seconddiv {
    padding: 16px !important;
    width: 100%;
  }
  #toogleimgdiv {
    display: flex !important;
  }
}

@media (max-width: 767px) {
  nav .w-200 {
    width: 100px;
  }
  #pinable_div {
    justify-content: center !important;
  }
}
