/* Spacing */
.p-0 {
  padding: 0 !important;
}
.p-10 {
  padding: 10px;
}

.pt-12 {
  padding-top: 12px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pr-12 {
  padding-right: 12px;
}

.pl-12 {
  padding-left: 12px;
}

.pt-15 {
  padding-top: 15px;
}

.pb-15 {
  padding-bottom: 15px;
}

.p-20 {
  padding: 20px;
}

.pt-20 {
  padding-top: 20px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pr-20 {
  padding-right: 20px;
}

.pl-20 {
  padding-left: 20px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-50 {
  padding-bottom: 50px;
}

.pb-70 {
  padding-bottom: 70px;
}

.img-padding {
  padding: 15px 20px;
}

.section-padding {
  padding: 50px 20px 20px 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mt-30 {
  margin-top: 30px !important;
}

.gap-30 {
  gap: 30px;
}

.w-50 {
  width: 50px !important;
}

.w-145 {
  width: 145px;
}

.w-250px {
  width: 250px;
}

.max-w-630 {
  max-width: 630px;
}

.max-height-57px {
  max-height: 57px;
}

.rowgap {
  row-gap: 20px;
}

/* Font Size and Font Weight */
.font-14 {
  font-size: 14px;
}

.font-16 {
  font-size: 16px;
}

.font-18 {
  font-size: 18px;
}

.font-28 {
  font-size: 28px;
}

.fontweight-400 {
  font-weight: 400;
}

.fontweight-500 {
  font-weight: 500;
}

.fontweight-600 {
  font-weight: 600;
}

.lineheight-21 {
  line-height: 21px;
}

.line-height-32 {
  line-height: 32px;
}

/* UI Elements */

.shadow {
  box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.14) !important;
}

/* Colors */
.bg-form {
  background: #f3f3f3;
}

.btn-lightblue {
  background: #3295ff;
}

.text-lightblack {
  color: #454545;
}

/* borders */

.border-top-left {
  border-top-left-radius: 8px;
}

.border-bottom-left {
  border-bottom-left-radius: 8px;
}

.border-top-right {
  border-top-right-radius: 8px;
}

.border-bottom-right {
  border-bottom-right-radius: 8px;
}

.border-circle {
  border-radius: 999px;
}

.border-radius-14 {
  border-radius: 14px;
}

/* Extras */
.cursor-pointer {
  cursor: pointer;
}

.nav-background {
  background: #f5f5f5;
  border-radius: 6px;
}
